
body, div {
    margin: 0;
    padding: 0;
}
body {
    background:#64cefe;
}

.errorCon{
    position: relative;
    width:1200px;
    height:430px;
    margin:0px auto;
    margin-top:231px;
    background: url(../images/earth_03.png) no-repeat center top;
}

#cloud {
    background:#fff;
    border-top: 5px solid #2e94ff;
    height: 288px;
    position: absolute;
    width: 100%;
    box-shadow: 0px -2px 20px #1F0505;
}

#cloud .earth{
    width:1200px;
    height:280px;
    margin:-20px auto;
    background:url(../images/earth.png) no-repeat 869px 0px;
    position: relative;
    overflow: hidden;
    zoom:1;
}

#cloud .earth p{
    margin: 0 auto;
    margin-top:38px;
    height:50px;
    width:340px;
    background:url(../images/title.png) no-repeat;
}

#cloud .earth .btnCon{
    margin:0 auto;
    width:220px;
    margin-top:30px;
    text-align: center;
}
#cloud .earth .btnCon a{
    display: inline-block;
}

@media  screen and (max-width: 1024px){
    
    .errorCon{
        width:900px;
        height:330px;
        margin-top:131px;
        background-size: 900px 330px;
    }
    #cloud .earth{
        width:900px;
        background:url(../images/earth.png) no-repeat 669px 0px;
    }
}
@media  screen and (min-width: 1024px) and (max-width: 1366px) {
    
    .errorCon{
        width:900px;
        height:330px;
        margin-top:171px;
        background-size: 900px 330px;
    }
    #cloud .earth{
        width:900px;
        background:url(../images/earth.png) no-repeat 669px 0px;
    }
}

@media  screen and (min-width: 1366px) and (max-width: 1919px) {
    
    .errorCon{
        width:900px;
        height:330px;
        margin-top:271px;
        background-size: 900px 330px;
    }
    #cloud .earth{
        width:900px;
        background:url(../images/earth.png) no-repeat 669px 0px;
    }
}