<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 引入定义fdfs连接的属性文件 
	<context:property-placeholder location="classpath:fdfs_client.properties"/> -->

	<bean id="imageServer" class="org.csource.util.ImageServerImpl">
		<constructor-arg>
			<value>101.200.0.81</value>
		</constructor-arg>
	</bean>

	<bean id="audioStoreAssembler" class="com.sbiao360.fd.ext.FdfsAudioStoreAssembler">
		<property name="fdfsImgServer" ref="imageServer"></property>
	</bean>

	<bean id="audioStorer" class="com.sbiao360.fd.ext.FdfsStorer">
		<property name="fdfsImgServer" ref="imageServer"></property>
	</bean>
</beans>