@charset "utf-8";
/* CSS Document */

/*头部*/
.header{
	width: 1200px;
	height: 90px;
	line-height: 90px; 
	margin: 0 auto;
}
.header .logo{
	width: 118px;
	height: 30px;
	background: url(../images/logo.png) no-repeat;
	float: left;
	text-indent: -9999em;
	margin: 28px 18px 0 0;
}
.header h2{
	width: 100px;
	height: 24px;
	line-height: 24px;
	padding-left: 12px;
	font-size: 20px;
	font-weight: bold;
	color: #5e5e5e;
	border-left: 1px solid #ebebeb;
	margin-top: 30px;
	float: left;
}
.header .nav{
	float: right;
}
.header .nav li{
	color: #5e5e5e;
	display: inline-block;
	margin-left: 15px;
	font-size: 14px;
}
.header .nav li.line{
	font-size: 12px;
}

/*内容部分*/
.content-box{
	min-width: 1200px;
	height: 675px;
	background: #00bbff;
}
.content-box .content{
	width: 1200px;
	height: 675px;
	margin: 0 auto;
	background: url(../images/content-bg.png) no-repeat 0 134px;
}
.content .login-box{
	width: 375px;
	height: 510px;
	background: #fff;
	float: right;
	margin-top: 75px;
	padding-left: 35px;
}
.login-box strong{
	font-size: 24px;
	color: #47aaff;
	float: left;
	padding-left: 16px;
}
.login-box h3 a{
	font-size: 12px;
	color: #ff5a5a;
	margin-left: 194px;
	float: left;
	position: relative;
	top: 10px;
}
.login-box h3{
	width: 340px;
	margin-top: 40px;
	padding-bottom: 10px;
	border-bottom: 2px solid #e2e2e2;
}
.login-box a i{
	width: 9px;
	height: 11px;
	background: url(../images/n.png);
	position: absolute;
	right: -10px;
	top: -10px;
}
.user-box{
	position: relative;
}
.user-box .icon{
	width: 20px;
	height: 20px;
	position: absolute;
	background: url(../images/user.png);
	top: 45px;
	left: 14px;
}
.username{
	width: 293px;
	height: 40px;
	padding-left: 45px;
	border: 1px solid #d7d7d7;
	margin-top: 34px;
	font-size: 14px;
}
.password-box{
	position: relative;
}
.password-box .icon{
	width: 20px;
	height: 20px;
	position: absolute;
	background: url(../images/password.png);
	top: 35px;
	left: 12px;
}
.password{
	width: 293px;
	height: 40px;
	padding-left: 45px;
	border: 1px solid #d7d7d7;
	margin-top: 24px;
	font-size: 14px;
}
.code-box{
	position: relative;
}
.code-box .icon{
	width: 21px;
	height: 21px;
	position: absolute;
	background: url(../images/code.png);
	top: 38px;
	left: 12px;
}
.v-code{
	width: 173px;
	height: 40px;
	padding-left: 45px;
	border: 1px solid #d7d7d7;
	margin-top: 27px;
	float: left;
	font-size: 14px;
}
.code-box img{
	float: left;
	margin-top: 27px;
	margin-left: 18px;
}
.r-password{width:340px;margin-top: 18px;}
.r-password input{
	float: left;
	width: 13px;
	height: 13px;
	border-radius: 0;
	border: 1px solid #8e8f8f;
	margin-left: 10px;
	margin-top: 2px;
}
.r-password label{
	float: left;
	color: #5e5e5e;
	font-size: 12px;
	margin-left: 8px;
	font-size: 14px;
}
.r-password a{
	float: right;
	color: #47aaff;
	font-size: 14px;
}
.login{
	width: 340px;
	height: 42px;
	background: #47aaff;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 42px;
	border: 0;
	border-radius: 4px;
	margin-top: 30px;
	cursor: pointer;
}
.register{
	display: block;
	width: 340px;
	height: 42px;
	background: #47aaff;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 42px;
	border: 0;
	border-radius: 4px;
	margin-top: 26px;
	cursor: pointer;
}
a.register:hover{
	color: #fff;
}

/*底部信息*/
.footer-bg{
	min-width: 1200px;
	height: 100px;
	background: #424242;
}
.footer{
	width: 1200px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	color: #9e9e9e;
}
.footer ul{
	float: left;
}
.footer ul li{
	float: left;
	margin-right: 4px;
}
.footer p{
	float: right;
	font-size: 12px;
}
.footer a{
	color: #9e9e9e;
	font-size: 12px;
}